* {
  font-size: 13.5px !important;
  font-weight: 300;
  font-family: Roboto, Helvetica, sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.v-data-table-header .v-input__control {
  min-height: 30px !important;
}

.v-alert--dense {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.v-alert.v-alert--dense  {
  margin-bottom: 0px !important;
}

.top-menu-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pointer{
  cursor: pointer;
}
.black--text .v-tab.v-tab--active,
.black--text .v-tabs-slider-wrapper{
  color: rgba(0,0,0,.87) !important;
}
.white--text .v-tabs-slider-wrapper,
.white--text .v-tab.v-tab--active{
  color: rgba(255,255,255,.87) !important;
}
